<configuration debug="true">
    <!-- Console appender cấu hình để ghi log ra console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender cấu hình để ghi log vào file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/kafka_client.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger  level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <!-- Logger root cho toàn bộ ứng dụng -->
    <root level="ALL">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
